h2 {
  text-align: center;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro {
  border-color: black;
  border-style: groove;
  padding: 4px;
  text-align: center;
  font-size: 20px;
}

button {
  background-color: black;
  color: orange;
  cursor: pointer;
  font-size: 14px;
  padding-left: 360px;
  padding-right: 360px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.price {
  margin-bottom: 25px;
  text-align: center;
  
}

.description {
  display: inline-block;
  background-color: orange;
  border-color: black;
  border-style: groove;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 750px;
  text-align: center;
}

button:hover {
  background-color: grey;
  cursor: crosshair;
  text-align: center;
}

.Couch {
    border-style: groove;
    border-color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Table {
    border-style: groove;
    border-color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Chair {
     border-style: groove;
    border-color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
}


