h2 {
  text-align: center;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro {
  border-color: black;
  border-style: groove;
  padding: 4px;
  text-align: center;
  font-size: 20px;
}

button {
  background-color: black;
  color: orange;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;

}

.price {
  margin-bottom: 25px;
  text-align: center;
  
}

.description {
  display: block;
  margin: 0 auto;
  background-color: orange;
  border-color: black;
  border-style: groove;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 750px;
  text-align: center;
}

button:hover {
  background-color: grey;
  cursor: crosshair;
  text-align: center;
}

.Couch {
    border-style: groove;
    border-color: black;
    margin: 10px auto;
    width: fit-content;
}

.Table {
    border-style: groove;
    border-color: black;
    margin: 10px auto;
    width: fit-content;
}

.Chair {
     border-style: groove;
    border-color: black;
    margin: 10px auto;
    width: fit-content;
}

h1 {
    text-align: center;
    font-size: 50px;
    width: fit-content;
    margin: 10px auto;
}


